{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trajet.id }}</td>
            </tr>
            <tr>
                <th>GareDepart</th>
                <td>{{ trajet.gareDepart }}</td>
            </tr>
            <tr>
                <th>GareArrivee</th>
                <td>{{ trajet.gareArrivee }}</td>
            </tr>
            <tr>
                <th>DepartLe</th>
                <td>{{ trajet.departLe ? trajet.departLe|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ArriveeLe</th>
                <td>{{ trajet.arriveeLe ? trajet.arriveeLe|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ trajet.prix }}</td>
            </tr>
            <tr>
                <th>PlacesTotales</th>
                <td>{{ trajet.placesTotales }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trajet_index') }}">back to list</a>

    <a href="{{ path('app_trajet_edit', {'id': trajet.id}) }}">edit</a>

    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
